/* * {
  border: 1px solid tomato;
} */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
  padding: 15;
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.nav {
  color: #2E2F42;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height:  150%;
letter-spacing: 0.02em;
text-decoration: none;
}

a > span {
  color: #2e2f42;
}

.logo-web {
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17em;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.link-nav {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.link-nav:hover {
    color: #404bbf;
  }
  
  .link-nav:focus {
    color: #404bbf;
    border: 1px dashed #9747FF;
  }
  
  .link-address {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .link-address:hover {
    color: #404bbf;
  }
  .link-address:focus {
    color: #404bbf;
  }
  .contacts {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  }

.hero-section {
  background-color: #2e2f42;
}
.hero-title {
color: #ffffff;
font-size: 56px;
letter-spacing: 0.02em;
line-height:  1.07;
text-align: center;
}

.hero-button {
background-color: #4D5AE5;
color: #ffffff;
cursor: pointer;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
font-family: "Roboto", sans-serif;
}
.hero-button:hover {
  background-color: #404BBF
}
.hero-button:focus {
  background-color: #404BBF
}

.features-item {

}

.features-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}
.strategy-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
h3 {
  font-size: 20px;
  
  letter-spacing: 0.02em;
}


.team {
  background-color: #F4F4FD
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
color: #2e2f42;
}
.card-item {
  background-color: #FFFFFF;
}
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.porfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.project-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.main-footer {
  background-color: #2e2f42;

}
.footer-text {
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
}